<div class="modal-header">
  <h3>{{ modalTitle }}</h3>
  <button (click)="closeDialog()">ｘ</button>
</div>
<hr/>
<input type="text" placeholder="Write the item title" [(ngModel)]="itemTitle">
<input type="text" placeholder="Write the item description" [(ngModel)]="itemDescription">
<select [(ngModel)]="selectedStatus">
  <option value="">Select a status</option>
  @for (item of options; track $index) {
    <option [value]="item">{{item}}</option>
  }
</select>
<button class="modal-save" (click)="saveItem()">Save</button>
