@import "../../variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  margin-bottom: $spacing*5;
  background-color: $gray-400-color;
  border-radius: $radius-sm;
  position: relative;
  align-self: stretch;

  input {
    flex-grow: 1;
    padding: $spacing*4 $spacing*7;
    color: $light-color;
    border: none;
    background: none;
  }

  .search-button {
    position: absolute;
    right: $spacing*4;
    align-self: center;
  }
}

.items-list {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  gap: $spacing*4;
  padding: $spacing*7;
  background-color: $gray-400-color;
  min-height: 75vh;
  border-radius: $radius-sm;
}

.item {
  display: flex;
  align-items: center;
  background-color: $gray-300-color;
  border-left: 3px solid $success-color;
  padding: $spacing*6 $spacing*4;
  padding-right: $spacing*8;
  border-radius: $radius-sm;
  justify-content: space-between;
}

.item-main {
  display: flex;
  align-items: center;
  gap: $spacing*2;
}

.item-check {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: $gray-600-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.selected {
    background-color: $success-color;
  }
}

.item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: $spacing;
  min-width: 380px;

  h3 {
    margin: 0px;
  }

  span {
    margin: 0;
  }

  .item-date-label {
    opacity: 0.3;
  }
}

.category {
  background-color: $gray-600-color;
  padding: $spacing $spacing*3;
  border-radius: $radius-sm;
  font-size: 12px;

  &.frontend {
    background-color: #dc5555;
  }
  &.backend {
    background-color: #657d0d;
  }
  &.fullstack {
    background-color: #348b2e;
  }
  &.devops {
    background-color: #537ea5;
  }
  &.qa {
    background-color: #743e93;
  }
  &.architect {
    background-color: #e39c39;
  }
}

.delete-button {
  color: $light-color;
  opacity: 0.5;
  border: none;
  padding: $spacing*2;
  border-radius: $radius-sm;
  cursor: pointer;
  background: unset;
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: $success-color;
  color: $light-color;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
