<div class="container">
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <div class="search-button">🔍</div>
  </div>
  <div class="items-list">
    @for (item of items; track $index) {
      <div class="item">
        <div class="item-main">
          <div
            class="item-check"
            [class.selected]="selectedItems.includes($index)"
            (click)="selectItem($index)"
          >
            @if (selectedItems.includes($index)) {
              ✔
            }
          </div>
          <div class="item-content">
            <h3>{{ item.title }}</h3>
            <span>{{ item.description }}</span>
            @if (!item.update_date) {
              <span>
                <span class="item-date-label">Created:</span>
                {{ item.creation_date | date: 'YYYY*MM*dd HH|mm|ss' }}
              </span>
            } @else {
              <span>
                <span class="item-date-label">Updated: </span>
                {{ item.update_date | date: 'YYYY*MM*dd HH|mm|ss' }}
              </span>
            }
          </div>
        </div>
        <span class="category {{item.status.toLowerCase()}}">{{ item.status }}</span>
        <button class="delete-button">Ⓧ</button>
      </div>
    }
  </div>
  <button class="add-button" (click)="newItemForm()">+</button>
</div>
