@import "../../variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  margin-bottom: $spacing*5;
  background-color: $gray-400-color;
  border-radius: $radius-sm;
  position: relative;
  align-self: stretch;
  border: 1px solid transparent;
  transition: 0.25s ease-in-out border;

  &:hover {
    border: 1px solid $gray-600-color;
  }

  input {
    flex-grow: 1;
    padding: $spacing*4 $spacing*7;
    color: $light-color;
    border: none;
    background: none;
  }

  .search-button {
    position: absolute;
    right: $spacing*4;
    align-self: center;
  }
}

.items-list {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  gap: $spacing*4;
  padding: $spacing*7;
  background-color: $gray-400-color;
  height: 75vh;
  overflow: auto;
  border-radius: $radius-sm;

  .empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-800-color;
  }
}

.share-button,
.add-button {
  position: fixed;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: $success-color;
  color: $light-color;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s ease-in-out opacity;

  &:hover {
    opacity: 0.7;
  }
}

.share-button {
  bottom: 90px;

  span {
    position: absolute;
    top: -10%;
    left: 0;
    font-size: 10px;
    padding: 8px;
    background: $success-color;
    filter: brightness(0.8);
    border-radius: 50%;
    line-height: 5px;
  }
}

.add-button {
  bottom: 30px;
}
