@import "../../variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  margin-bottom: $spacing*5;
  background-color: $gray-400-color;
  border-radius: $radius-sm;
  position: relative;
  align-self: stretch;

  input {
    flex-grow: 1;
    padding: $spacing*4 $spacing*7;
    color: $light-color;
    border: none;
    background: none;
  }

  .search-button {
    position: absolute;
    right: $spacing*4;
    align-self: center;
  }
}

.items-list {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  gap: $spacing*4;
  padding: $spacing*7;
  background-color: $gray-400-color;
  min-height: 75vh;
  border-radius: $radius-sm;
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: $success-color;
  color: $light-color;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
